services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend_t
    ports:
      - "8080:80"
    depends_on: 
      - backend
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: backend_t

    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword

    depends_on:
      - db

  db:
    image: postgres:16
    container_name: database_t
    restart: always 
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  pgdata:
